<header>
    <h1>Inventory Management</h1>
    <nav>
        <button class="button" (click)="goToProducts()">Products</button>
        <button class="button" (click)="goToCategories()">Categories</button>
        <button class="button" (click)="goToBrands()">Brands</button>
        <button class="button" (click)="goToStocks()">Stocks</button>
        <button class="button" (click)="goToStores()">Stores</button>
        <button class="button" (click)="goToCustomers()">Customers</button>
    </nav>
</header>
<router-outlet />
