<div class="add-product-button">
<button type="submit" class="button" (click)="addProduct()">
    Add Product
</button>
</div>

<div class="product-grid">
    <mat-card *ngFor="let product of products" class="product-card">
        <mat-card-header>
            <mat-card-title class="product-title">{{ product.productName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="product-subtitle">Model Year: {{ product.modelYear }}</p>
            <p class="product-price">Price: {{ product.listPrice | currency }}</p>
        </mat-card-content>
        <mat-card-actions class="product-actions">
            <button class="button edit" (click)="editProduct(product.id)">Edit</button>
            <button class="button delete" (click)="deleteProduct(product.id)">Delete</button>
        </mat-card-actions>
    </mat-card>
</div>