<form #productForm="ngForm" (ngSubmit)="saveProduct()">
    <div class="control">
        <label for="productName">Product Name</label>
        <input type="text" id="productName" [(ngModel)]="product.productName" name="productName" required>
    </div>

    <div class="control">
        <label for="brand">Brand</label>
        <select id="brand" [(ngModel)]="product.brandId" name="brand" class="form-control">
            <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.brandName }}</option>
        </select>
    </div>
    
    <div class="control">
        <label for="category">Category</label>
        <select id="category" [(ngModel)]="product.categoryId" name="category" class="form-control">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.categoryName }}</option>
        </select>
    </div>


    <div class="control">
        <label for="modelYear">Model Year</label>
        <input type="number" id="modelYear" [(ngModel)]="product.modelYear" name="modelYear" required>
    </div>

    <div class="control">
        <label for="listPrice">List Price</label>
        <input type="number" id="listPrice" [(ngModel)]="product.listPrice" name="listPrice" required>
    </div>

    <button type="submit" class="button">
        {{ product.id ? 'Update Product' : 'Add Product' }}
    </button>
</form>